apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: app-demo-set
  namespace: argocd
spec:
  generators:
    - matrix:
        generators:
          - clusters:
              selector:
                matchLabels:
                  env: prod
          - git:
              repoURL: https://github.com/LucianoRed/monorepo-gitops-demo.git
              revision: HEAD
              directories:
                - path: apps-prd/departamentos/*/*
  template:
    metadata:
      name: '{{path.basename}}-{{name}}'
    spec:
      project: default
      source:
        repoURL: https://github.com/LucianoRed/monorepo-gitops-demo.git
        targetRevision: HEAD
        path: '{{path}}'
      destination:
        server: '{{server}}'
        namespace: '{{path.basename}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
